.my-login-page {
}

.el-card__body {
    border: none;
}

el-card {
}

.el-card {
    border: none;
}


.el-form {
    border: none;
}

/*表单项*/
.el-form-item {

}

/*表单标签*/
.el-form-item__label {

}

.door-but{
    width: 90%;
    height: 50px;
    font-size: 50px;
    font-weight: 500;
    align-self: center;
}

